@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Color palette */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: 	hsl(245, 75%, 52%);
  --bright-blue-hover: 	hsl(245, 75%, 88%);
  --very-plue-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Typography */
  --font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url('./images/pattern-background-desktop.svg'), var(--pale-blue);
  min-height: 100vh;
  background-size: contain;
  place-items: center;
  background-repeat: no-repeat;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  /* flex-direction: ; */
  align-items: center;
}

main {
  background-color: white;
  position: absolute;
  top: 5%;
  border-radius: 20px;
}

.order-card {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order-card__container {
  text-align: center;
  padding: 2.5rem;
}

.order-card__container__plan-card {
  background: var(--very-plue-blue);
  width: 354px;
  border-radius: 11px;
  margin-bottom: 32px;
  display: inline-block;
}

.plan-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 10rem;
}

.plan-info img {
  margin-right: 10px;
}

.plan-info__description {
  display: flex;
  flex-direction: column;

}

.plan-info p:first-child {
  font-weight: 900;
}


.order-card__container__plan-card .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 25px 25px;
}

.order-card__container__plan-card .box a {
  text-decoration-line: underline;
  color: var(--bright-blue);
}

.order-card__container__plan-card .box a:hover {
  text-decoration-line: none;
  color: var(--bright-blue);
}


.order-card__img {
  border-radius: 20px 20px 0px 0px;
}

.title {
  color: var(--dark-blue);
  font-size: 1.7rem;
  font-weight: 900;
  padding: 1.3em 0 .8em 0; 
}

.text {
  color: var(--desaturated-blue);
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  padding: 0 2.1em 1.4em 2.1em;
  font-size: 1.05rem;
  padding-left: 3em;
  padding-right: 3em;
}

.btn-group {
  display: flex;
  flex-direction: column;
  margin-left: 46px;
  margin-right: 48px;
}

.btn-group .btn {
  padding: 0.6rem 0;
  border: transparent;
  cursor: pointer;
  width: 352px;
  height: 52px;
  font-weight: 900;
}

.btn--payment {
  background-color: var(--bright-blue);
  border: 0;
  border-radius: 11px;
  box-shadow: 0px 10px 11px 1px var(--bright-blue-hover);
  color: white;
}

.btn--payment:hover {
  background-color: var(--bright-blue-hover);
}

.btn--cancel {
  background: transparent;
  margin-bottom: 36px;
}